@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font: 'Geist', 'Geist Fallback', Arial, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
}
